

.selected_btn {
    background-color: #D875A6;
}


.card {
    width: 25rem;
    overflow: hidden;
    background-color: #46444b;
    color: white;
    margin: 0 10px;
}

.profile_pic_lrg {
    height: 50px;
    width: 50px;
    border: 2px solid #6A0896E3;
    position: relative;
    margin: 15px;
    border-radius: 50%;
}



.likes_lrg, .likes_label_lrg, .comment_lrg, .comment_label_lrg {
    position: relative;
    left: 15px;
    height: 35px;
}

.likes_lrg {
    height: 40px;
    top: 2px;
}

.content {
    position: relative;
    top: -50px;
}

.Caption {
    position: relative;
    left: 10px;
    width: 100%;
    top: -2px;
    overflow: hidden;
}

.card-img-top {
    height: 400px;
    margin:;
}
